<template>
  <section class="post-list">
    <PostPreview id="1"
                 title="First post"
                 content="First post content"
                 thumbnail="https://static.techspot.com/images2/news/bigimage/2018/07/2018-07-10-image-35.jpg"/>

    <PostPreview id="2"
                 title="Second post"
                 content="Second post content"
                 thumbnail="https://static.techspot.com/images2/news/bigimage/2018/07/2018-07-10-image-35.jpg"/>
  </section>
</template>

<script>
  import PostPreview from '@/components/posts/PostPreview';

  export default {
    name: "PostList",
    components: {
      PostPreview
    }
  }
</script>

<style scoped>
  .post-list{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
</style>
